<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  .template-404 .continue-shopping {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }

    .template-404 .continue-shopping {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="title">
    {{ section.settings.title }}
  </h1>
  <h3 class="subtext">
    {{ section.settings.subtext }}
  </h3>
  {% if section.settings.show_continue_shopping %}
    <a href="{{ routes.all_products_collection_url }}" class="button continue-shopping">
      {{ section.settings.continue_shopping_label }}
    </a>
  {% endif %}
</div>

{% schema %}
{
  "name": "404 Error",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "404. Well, that’s not right."
    },
    {
      "id": "subtext",
      "type": "text",
      "label": "Subtext",
      "default": "We’re sorry we don’t have what you’re looking for. Try again, or start browsing some of our products."
    },
    {
      "id": "continue_shopping_label",
      "type": "text",
      "label": "Continue Shopping Label",
      "default": "Continue Shopping"
    },
    {
      "id": "show_continue_shopping",
      "type": "checkbox",
      "label": "Show Continue Shopping",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "404 Error",
      "category": "Custom"
    }
  ]
}
{% endschema %}
